<!-- Start Tours -->
<div class="tours text-center">
  <div class="container-fluid">
    <div class="row">
        <% if @destinations.present? %>
          <% @destinations.each do |destination| %>
            <div class="col-md-6 tour">
              <div class="item">
              <%= (destination.image.attached?) ? image_tag(destination.image, class: 'img-fluid hvr-glow') : image_tag("img_no.gif", class: 'img-fluid hvr-glow') %>
                <div class="text-block">
                  <h3><%= destination.ar_name %></h3>
                </div>
                <div class="button-blc ml-3">
                    <%= link_to ar_destination_path(destination), class: 'btn text-white hvr-bob' do %>More<% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h5 class="text-center border m-auto">No destinations Found</h5>
        <% end %>
    </div> <!-- /Row -->
  </div> <!-- /Container -->
</div> <!-- /Tours -->