<!-- Start Footer -->
    <div class="footer" id="bottom">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-6 text-center" dir="ltr" style="text-align: left;">
            <h2>ABOUT US</h2>
            <hr>
            <p>We are a Saudi tourism Company registered in Ministry of commerce of Saudi Arabia with No. 4701000558, located in Ummluj. We provide tourism tours.</p>
          </div>

          <div class="col-md-6 text-center" dir="ltr" style="text-align:left;">
            <h2>CONTACT US</h2>
            <hr>
            <i class="fas fa-map-marker-alt"></i> <span>Ummluj, Alsalam St, 48311</span>
            <div class="d-block"></div>
            <i class="fas fa-mobile"></i> <span>0504766214</span>
            <div class="d-block"></div>
            <i class="fas fa-envelope"></i> <span>info@weekendtripss.com</span>
            <div class="d-block"></div>
          </div>

        </div> <!-- /Row -->
        <div class="text-center copyright">
          <p>All Copyright Received To Elmarwa advertising 2020 <i class="far fa-copyright"></i></p>
        </div>
      </div> <!-- /Container -->
    </div> <!-- /footer -->
    <!-- End Footer -->