<!-- Start Footer -->
    <div class="footer" id="bottom">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-6 text-center" dir="ltr" style="text-align: left;">
            <h2>من نحن</h2>
            <hr>
            <p>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.</p>
          </div>

          <div class="col-md-6 text-center" dir="ltr" style="text-align:left;">
            <h2>تواصل معنا</h2>
            <hr>
            <i class="fas fa-map-marker-alt"></i> <span>العنوان</span>
            <div class="d-block"></div>
            <i class="fas fa-mobile"></i> <span>0504766214</span>
            <div class="d-block"></div>
            <i class="fas fa-envelope"></i> <span>info@weekendtripss.com</span>
            <div class="d-block"></div>
          </div>

        </div> <!-- /Row -->
        <div class="text-center copyright">
          <p>All Copyright Received To Elmarwa advertising 2020 <i class="far fa-copyright"></i></p>
        </div>
      </div> <!-- /Container -->
    </div> <!-- /footer -->
    <!-- End Footer -->