<!-- Start Contact Us -->
<div class="contact co-us">
  <div class="container">
    <div class="row">

      <div class="col-md-6 info contact-us">
        <h2>Be In Touch With Us</h2>
        <%= render 'form', contact: @contact %>
      </div>

      <div class="col-md-6 info contact-us">
        <h3>Contact Data</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="co-info">
          <i class="fas fa-map-marker-alt"></i> <span>Ummluj, Alsalam St, 48311</span>
          <div class="d-block"></div>
          <i class="fas fa-mobile"></i> <span>0504766214</span>
          <div class="d-block"></div>
          <i class="fas fa-envelope"></i> <span>info@weekendtripss.com</span>
          <div class="d-block"></div>
        </div>
        <div class="social-icon">
          <a href="#!" class="one"><i class="fab fa-facebook-f"></i></a>
          <a href="#!" class="two"><i class="fab fa-twitter"></i></a>
          <a href="#!" class="three"><i class="fab fa-google-plus-g"></i></a>
          <a href="#!" class="four"><i class="fab fa-pinterest-p"></i></a>
          <a href="#!" class="five"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

    </div> <!--/Row -->
  </div> <!-- /Container -->
</div> <!-- /Contact Us -->
<!-- End Contact Us -->
